<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="libs/css/angular-material.min.css">
</head>

<body ng-app="Sample" ng-cloak>
  <h2>Hello World</h2>

  <div ng-controller="MainController">
   
    <md-button class="md-raised md-primary" ng-click="navigate('login')">Login</md-button>
    <md-button class="md-raised md-primary" ng-click="navigate('dashboard')">Dashboard</md-button>
    
    <div ui-view name="content" layout="column" layout-fill layout-padding>
      <div class="inset"></div>
    </div>
  </div>
  <!-- Angular basic and angular material libraries ::start-->
  <script src="libs/js/angular.min.js"></script>
  <script src="libs/js/angular-animate.min.js"></script>
  <script src="libs/js/angular-aria.min.js"></script>
  <script src="libs/js/angular-message.min.js"></script>
  <script src="libs/js/angular-material-design.min.js"></script>
  <script src="libs/js/angular.ui.router.min.js"></script>
  <!-- Angular basic and angular material libraries ::end-->
  <!-- Application bootstrap  ::start-->
  <script type="text/javascript" src="scripts/index.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
  <!-- Application bootstrap  ::end-->

</body>

</html>