<section ng-controller="LoginController">
    <div layout="row" layout-align="center">
        <div flex="33" flex-xs="20"> </div>
        <div flex="33" flex-xs="65">
            <md-content md-theme="docs-dark" layout-padding layout-align="center">
               <form name ="loginForm">
                <div flex>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user.email" type="email" required>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" type ="password" required>
                    </md-input-container>
                </div>
                <md-button class="md-warn" ng-click ="login()" ng-disabled ="loginForm.$invalid">Login</md-button>
                </form>
            </md-content>
        </div>
        <div flex ></div>
    </div>
</section>